{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <form class="form-signin" role="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create user</button>
                    </p>
                </form>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
{% endblock %}